body {
    margin: 0;
    padding: 0;
}

.banner{
    background-image: url("../Images/BannerBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw; 
    height: 200px;
}

.RestaurantName {
    color: whitesmoke;
    font-size: 5em;
    font-style: italic;
    text-align: center;
    font-family:  'sans-serif';
    line-height: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.navbar{
    background-color: orange;
}

.navbar-nav li{
    margin-left: 20px;
    margin-right:20px;
}

.navbar-nav li a {
    color: black ;
    font-size: 3em;
    font-weight: 300;
}

.navbar-nav li a:hover {
    color: darkcyan;
}

.navbar-nav li a:visited {
    color: black;
}

#footer{
    margin-top: 30px;
    padding-bottom: 130px;
    background-color: orange;
}