{% extends 'base.html' %}
{% load static  %}
{% block customcss %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}" type="text/css">
{% endblock %}
{% block content %}
    <!-- Image-container-->
    <div class="heroImgContainer">
        <p class="slogan">Eat Fresh Today<br>Live longer Tomarrow</p>
        <a id="orderNowBtn" class="btn btn-default" href="{% url 'menu' %}">Order Now</a>
        <img id="landingImg" src="Images/SeafoodHero.png" alt="A plate of seafood">
    </div>

    <!-- Main content-->
    <div class="mainContent">
        <div id="userReviews" class="card-deck userReviews">
            <div class="card">
                <img clas="card-img-top img-fluid" src="./Images/userReview1.png" alt="">
                <div class="card-body">
                    <p class="card-text">" The food Here is very fresh and healthy.<br> The best
                        ingredients were used.<br> I love the Burgers "</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top img-fluid" src="./Images/userReview2.png" alt="">
                <div class="card-body">
                    <p class="card-text">I love the fish. The different types fish are delious<br> well worth the
                        price.</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top img-fluid" src="./Images/userReview3.png" alt="">
                <div class="card-body">
                    <p class="card-text">I love salads</p>
                </div>
            </div>
        </div>

        <button id="hideReviewsBtn" class="btn btn-default ">Hide</button>
    </div>
{% endblock %}




