{% extends 'base.html' %}
{% load static  %}
{% block customcss %}
    <link rel="stylesheet" href="{% static '/css/menus.css' %}" type="text/css">
{% endblock %}
{% block content %}
    <main>
            <div class="cardArea">
                <section class="cardRow1">
                    <div class="card1">
                        <p class="card_title">Seafood</p>
                    </div>
                    <div class="card2">
                        <p class="card_title">Grill</p>
                    </div>
                    <div class="card3">
                        <p class="card_title">Sandwiches</p>
                    </div>
                    <div class="card4">
                        <p class="card_title">Beverges</p>
                    </div>
                </section>
                <section class="cardRow2">
                    <div class="card5"></div>
                    <div class="card6"></div>
                    <div class="card7"></div>
                    <div class="card8"></div>
                </section>
                <section class="cardRow3">
                    <div class="card9"></div>
                    <div class="card10"></div>
                    <div class="card11"></div>
                    <div class="card112"></div>
                </section>
                <section class="cardRow4">
                    <div class="card13"></div>
                    <div class="card14"></div>
                    <div class="card115"></div>
                    <div class="card16"></div>
                </section>
            </div>
        </main>
{% endblock %}












