{% extends 'base.html' %}
{% load static %}
{% block customcss %}
    <link rel="stylesheet" href="{% static '/css/form.css' %}">
{% endblock %}
{% block content %}
    <!-- Reservation Form-->
    <form action="{% url 'reservations' %}" method="post" class="form" id="form">
        {% csrf_token %}
        <h1 id="heading">Reservations</h1><br/><br>
        <p>
            * Denotes required fields are required\
            Please fill out all required fields
        </p>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="FirstName">* FirstName: </label>
                    <input type="text" name="FirstName" value="" id="FirstName" class="form-control" required/>
                </div>
            </div>

            <div class="col">
                <label for="LastName">* LastName: </label>
                <input type="text" name="LastName" value="" id="LastName" class="form-control" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="Email">* Email: </label>
            <input type="email" name="Email" value="" id="Email" class="form-control" required/>
        </div>

        <div class="form-group">
            <label for="PhoneNumber">Phone: </label>
            <input type="tel" name="PhoneNumber" value="" id="PhoneNumber" class="form-control" required/>
        </div>

        <div class="form-group">
            <label for="ReservationDate">* Reservation Date: </label>
            <input type="date" name="ReservationDate" value="" id="ReservationDate" class="form-control" required/>
        </div>

        <div class="form-group">
            <label for="ReservationTime">* Reservation Time: </label>
            <input type="time" name="ReservationTime" value="" id="ReservationTime" class="form-control" required/>
        </div>

        <div class="form-group">
            <label for="textArea">Comments </label>
            <textarea name="textArea" placeholder="Notes" id="textArea" required cols="120" rows="10"></textarea>

            <p id="notes">
                *Please book your reservation at least a week in advance. <br/>Late
                submissions are not accepted. <br/>You will receive an email with
                in 24 hours after we have processed your reservation.
            </p>
        </div>

        <div class="form-group">
            <button id="resetBtn" class="btn  btn-warning btn-lg">Reset</button>
            <button id="submitBtn" class="btn btn-primary btn-lg"> Submit</button>
        </div>
    </form>
{% endblock %}






